/* CSS by Jayda Saenz */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Root Variables */
:root {
    --dark-gray: #1E1E1E;
    --white: #ffffff;
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink: #D9526F;
}

/* Global Styles (mobile first to small) */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--lavender);
	color: var(--white);
	text-align: center;
	max-width: 450px;
	margin: 0 auto;
}

header, main, footer {
	background-color: var(--purple);
}

h1, h2 {
	font-family: 'Kavoon', cursive;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	color: var(--yellow);
	font-weight: bold;
	background-color: var(--purple);
}

h4 {
	font-size: 1.15em;
	color: var(--purple);
	font-weight: bold;
	padding-left: 30px;
}

header {
	padding: 45px;
}

header p {
	padding-top: 15px;
	font-style: italic;
}

nav {
	background-color: var(--yellow);
	padding: 20px
}

nav h2 {
	font-family: 'Inter', sans-serif;
	font-size: 1.5em;
	color: var(--dark-gray);
	font-weight: bold;
	font-style: italic;
}

nav ul li {
	padding: 15px;
	font-weight: bold;
	color: var(--purple);
	text-transform: uppercase;
	background-color: var(--white);
	margin: 10px
}

body section {
	text-align: left;
	margin: 20px;
	border-radius: 10px;
}

section:has(img, h4, p)  {
	background-color: var(--white);
}


section p {
	color: var(--dark-gray);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 25px;
}

section img {
	padding: 20px;
}

#chooseUs {
	background-color: var(--pink);
	padding-bottom: 15px;
	border-radius: 0%;
	margin: 0 0 20px 0;
	padding: 20px;
}

#chooseUs ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
	
	text-align: center;
	font-weight: bolder;
	font-size: 1.25em;
	color:var(--dark-gray);
	column-gap: 15px;
}

#personalized-results {
	background: var(--teal);
	border-radius: 20px;
	padding: 40px;
	margin: 15px 10px;
}

#proven-results {
	background: var(--lavender);
	border-radius: 20px;
	padding: 40px 40px;
	margin: 0 10px 0 0;
}

#supportive-environment{
	background: var(--yellow);
	border-radius: 20px;
	padding: 40px;
	margin: 0px 10px;
}

#flexible-options {
	background: var(--white);
	border-radius: 20px;
	padding: 40px 40px;
	margin: 0 10px 0 0;
}

#pricing h3 {
	padding: 10px 20px;
}

#pricing table {
	margin: 0 auto;
}

#one-on-one th {
	color: var(--dark-gray);
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
	background-color: var(--yellow);
	border: 1px solid var(--yellow);
	padding: 15px;
}

#one-on-one td {
	color: var(--dark-gray);
	font-size: 1em;
	background-color: var(--white);
	border: 1px solid var(--yellow);
	padding: 15px 20px;
	text-align: center;
}

#group-coaching th {
	color: var(--dark-gray);
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
	background-color: var(--yellow);
	border: 1px solid var(--yellow);
	padding: 15px;
}

#group-coaching td {
	color: var(--dark-gray);
	font-size: 1em;
	background-color: var(--white);
	border: 1px solid var(--yellow);
	padding: 15px 20px;
	text-align: center;
}

#workshops-seminars th {
	color: var(--dark-gray);
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
	background-color: var(--yellow);
	border: 1px solid var(--yellow);
	padding: 15px;
}

#workshops-seminars td {
	color: var(--dark-gray);
	font-size: 1em;
	background-color: var(--white);
	border: 1px solid var(--yellow);
	padding: 15px 20px;
	text-align: center;
}

#online-courses th {
	color: var(--dark-gray);
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
	background-color: var(--yellow);
	border: 1px solid var(--yellow);
	padding: 15px;
}

#online-courses td {
	color: var(--dark-gray);
	font-size: 1em;
	background-color: var(--white);
	border: 1px solid var(--yellow);
	padding: 15px 20px;
	text-align: center;
}

#firstStep {
	background-color: var(--pink);
	padding: 20px;
	margin: 0 0 20px 0;
	border-radius: 0%;
	display: block;
	text-align: left;
}

#firstStep p {
	color: var(--white);
}

#firstStep a {
	display: block;
	text-decoration: none;
	background-color: var(--white);
	color: var(--dark-gray);
	font-weight: bold;
	padding: 30px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px 5px var(--dark-gray);
}

footer {
	background-color: var(--purple);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 60px 0;
	align-items: center;
	justify-items: center;
}

footer p, footer a {
	color: var(--white);
}